@font-face {
    font-family: 'GothaProBol';
    src: url('../../fonts/GothaProBol.otf');
    /*font-weight: 900;
    //font-style: normal;*/
  }
  @font-face {
    font-family: 'GothaProLig';
    src: url('../../fonts/GothaProLig.otf');
   /* font-weight: 600;
    font-style: normal;*/
  }
  @font-face {
    font-family: 'GothaProLigIta';
    src: url('../../fonts/GothaProLigIta.otf');
    /*font-weight: 300;
    font-style: normal;*/
  }