.footer{
    background-color: #27273e;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 15px 0;
}
.footer__who-is, .footer__communication{
    width: 300px;
}
